--
-- PostgreSQL database dump
--

\restrict DIOJ4KXdKanZGySVEPdKYKLEpFyEKXjDJClTeGrnng9WV8IXKazk5siqprugda7

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ad_analyses; Type: TABLE; Schema: public; Owner: ads_user
--

CREATE TABLE public.ad_analyses (
    ad_id uuid NOT NULL,
    hook_type character varying(50),
    hook_text text,
    angle character varying(50),
    angle_detail text,
    offer_type character varying(100),
    offer_value text,
    creative_format character varying(50),
    product_line text,
    audience_type text,
    usp_detected text,
    confidence_score double precision NOT NULL,
    hook_confidence double precision NOT NULL,
    angle_confidence double precision NOT NULL,
    offer_confidence double precision NOT NULL,
    ai_notes text,
    summary text,
    suggested_angle text,
    suggested_hook text,
    model_version character varying(50),
    analyzed_at timestamp with time zone DEFAULT now() NOT NULL,
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.ad_analyses OWNER TO ads_user;

--
-- Name: ads; Type: TABLE; Schema: public; Owner: ads_user
--

CREATE TABLE public.ads (
    competitor_id uuid NOT NULL,
    platform character varying(20) NOT NULL,
    headline text,
    primary_text text,
    cta character varying(100),
    ad_url text,
    landing_url text,
    media_url text,
    is_video boolean NOT NULL,
    ad_library_id character varying(100),
    status character varying(20) NOT NULL,
    first_seen timestamp with time zone DEFAULT now() NOT NULL,
    last_seen timestamp with time zone DEFAULT now() NOT NULL,
    captured_at timestamp with time zone DEFAULT now() NOT NULL,
    variants integer NOT NULL,
    notes text,
    embedding_id character varying(100),
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.ads OWNER TO ads_user;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: ads_user
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO ads_user;

--
-- Name: angles; Type: TABLE; Schema: public; Owner: ads_user
--

CREATE TABLE public.angles (
    name character varying(100) NOT NULL,
    description text,
    type character varying(50) NOT NULL,
    mentions integer NOT NULL,
    avg_confidence double precision NOT NULL,
    trending double precision NOT NULL,
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.angles OWNER TO ads_user;

--
-- Name: briefs; Type: TABLE; Schema: public; Owner: ads_user
--

CREATE TABLE public.briefs (
    title text NOT NULL,
    hook_type character varying(50),
    angle character varying(50),
    offer_type character varying(100),
    platform character varying(20),
    target_audience text,
    key_messages text[] NOT NULL,
    suggested_copy text,
    status character varying(20) NOT NULL,
    created_by uuid,
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.briefs OWNER TO ads_user;

--
-- Name: campaigns; Type: TABLE; Schema: public; Owner: ads_user
--

CREATE TABLE public.campaigns (
    name text NOT NULL,
    platform character varying(20) NOT NULL,
    status character varying(20) NOT NULL,
    objective character varying(50),
    budget numeric(12,2) NOT NULL,
    spend numeric(12,2) NOT NULL,
    impressions bigint NOT NULL,
    clicks bigint NOT NULL,
    conversions integer NOT NULL,
    roas double precision NOT NULL,
    brief_id uuid,
    created_by uuid,
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.campaigns OWNER TO ads_user;

--
-- Name: competitors; Type: TABLE; Schema: public; Owner: ads_user
--

CREATE TABLE public.competitors (
    name character varying(255) NOT NULL,
    domain character varying(255) NOT NULL,
    logo_url text,
    priority_tier character varying(10) NOT NULL,
    status character varying(20) NOT NULL,
    niches text[] NOT NULL,
    region character varying(50) NOT NULL,
    tier integer NOT NULL,
    created_by uuid,
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.competitors OWNER TO ads_user;

--
-- Name: hooks; Type: TABLE; Schema: public; Owner: ads_user
--

CREATE TABLE public.hooks (
    text text NOT NULL,
    description text,
    type character varying(50) NOT NULL,
    offer_type character varying(100),
    mentions integer NOT NULL,
    avg_confidence double precision NOT NULL,
    trending double precision NOT NULL,
    first_seen timestamp with time zone DEFAULT now() NOT NULL,
    last_seen timestamp with time zone DEFAULT now() NOT NULL,
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.hooks OWNER TO ads_user;

--
-- Name: offers; Type: TABLE; Schema: public; Owner: ads_user
--

CREATE TABLE public.offers (
    type character varying(100) NOT NULL,
    description text,
    mentions integer NOT NULL,
    avg_confidence double precision NOT NULL,
    trending double precision NOT NULL,
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.offers OWNER TO ads_user;

--
-- Name: review_queue; Type: TABLE; Schema: public; Owner: ads_user
--

CREATE TABLE public.review_queue (
    ad_id uuid NOT NULL,
    reason character varying(50) NOT NULL,
    reason_label character varying(100),
    reason_detail text,
    priority character varying(10) NOT NULL,
    status character varying(20) NOT NULL,
    assigned_to uuid,
    reviewed_by uuid,
    reviewed_at timestamp with time zone,
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.review_queue OWNER TO ads_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: ads_user
--

CREATE TABLE public.users (
    email character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    hashed_password text NOT NULL,
    role character varying(20) NOT NULL,
    avatar_url text,
    is_active boolean NOT NULL,
    last_active_at timestamp with time zone,
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO ads_user;

--
-- Name: workspace_settings; Type: TABLE; Schema: public; Owner: ads_user
--

CREATE TABLE public.workspace_settings (
    workspace_name character varying(255) NOT NULL,
    default_platform character varying(20) NOT NULL,
    confidence_threshold integer NOT NULL,
    auto_analyze boolean NOT NULL,
    review_on_low_conf boolean NOT NULL,
    notif_email boolean NOT NULL,
    notif_in_app boolean NOT NULL,
    notif_review_ready boolean NOT NULL,
    notif_analysis_done boolean NOT NULL,
    fb_ads_api_key text,
    tiktok_ads_api_key text,
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.workspace_settings OWNER TO ads_user;

--
-- Data for Name: ad_analyses; Type: TABLE DATA; Schema: public; Owner: ads_user
--



--
-- Data for Name: ads; Type: TABLE DATA; Schema: public; Owner: ads_user
--



--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: ads_user
--

COPY public.alembic_version (version_num) FROM stdin;
c0a9644e189c
\.


--
-- Data for Name: angles; Type: TABLE DATA; Schema: public; Owner: ads_user
--

COPY public.angles (name, description, type, mentions, avg_confidence, trending, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: briefs; Type: TABLE DATA; Schema: public; Owner: ads_user
--



--
-- Data for Name: campaigns; Type: TABLE DATA; Schema: public; Owner: ads_user
--



--
-- Data for Name: competitors; Type: TABLE DATA; Schema: public; Owner: ads_user
--



--
-- Data for Name: hooks; Type: TABLE DATA; Schema: public; Owner: ads_user
--

COPY public.hooks (text, description, type, offer_type, mentions, avg_confidence, trending, first_seen, last_seen, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: offers; Type: TABLE DATA; Schema: public; Owner: ads_user
--

COPY public.offers (type, description, mentions, avg_confidence, trending, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: review_queue; Type: TABLE DATA; Schema: public; Owner: ads_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: ads_user
--

COPY public.users (email, name, hashed_password, role, avatar_url, is_active, last_active_at, id, created_at, updated_at) FROM stdin;
admin@decoinks.com	Admin User	$2b$12$rDnabIEHyX1gh8mG2wQRIe57agrbx4k9IDMpjuQHgPz8HehD7Cc0W	admin	\N	t	2026-05-21 16:54:59.360289+00	e344c036-f0e1-4c71-8bd8-0c5cd6a7866f	2026-05-11 19:44:49.928764+00	2026-05-21 16:54:58.895442+00
\.


--
-- Data for Name: workspace_settings; Type: TABLE DATA; Schema: public; Owner: ads_user
--

COPY public.workspace_settings (workspace_name, default_platform, confidence_threshold, auto_analyze, review_on_low_conf, notif_email, notif_in_app, notif_review_ready, notif_analysis_done, fb_ads_api_key, tiktok_ads_api_key, id, created_at, updated_at) FROM stdin;
AI Ads Supervisor	Facebook	65	t	t	t	t	t	t	\N	\N	04b009e0-d676-4479-8118-642d041a9fd5	2026-05-11 19:44:50.284911+00	2026-05-11 19:44:50.284911+00
\.


--
-- Name: ad_analyses ad_analyses_pkey; Type: CONSTRAINT; Schema: public; Owner: ads_user
--

ALTER TABLE ONLY public.ad_analyses
    ADD CONSTRAINT ad_analyses_pkey PRIMARY KEY (id);


--
-- Name: ads ads_pkey; Type: CONSTRAINT; Schema: public; Owner: ads_user
--

ALTER TABLE ONLY public.ads
    ADD CONSTRAINT ads_pkey PRIMARY KEY (id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: ads_user
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: angles angles_pkey; Type: CONSTRAINT; Schema: public; Owner: ads_user
--

ALTER TABLE ONLY public.angles
    ADD CONSTRAINT angles_pkey PRIMARY KEY (id);


--
-- Name: briefs briefs_pkey; Type: CONSTRAINT; Schema: public; Owner: ads_user
--

ALTER TABLE ONLY public.briefs
    ADD CONSTRAINT briefs_pkey PRIMARY KEY (id);


--
-- Name: campaigns campaigns_pkey; Type: CONSTRAINT; Schema: public; Owner: ads_user
--

ALTER TABLE ONLY public.campaigns
    ADD CONSTRAINT campaigns_pkey PRIMARY KEY (id);


--
-- Name: competitors competitors_pkey; Type: CONSTRAINT; Schema: public; Owner: ads_user
--

ALTER TABLE ONLY public.competitors
    ADD CONSTRAINT competitors_pkey PRIMARY KEY (id);


--
-- Name: hooks hooks_pkey; Type: CONSTRAINT; Schema: public; Owner: ads_user
--

ALTER TABLE ONLY public.hooks
    ADD CONSTRAINT hooks_pkey PRIMARY KEY (id);


--
-- Name: offers offers_pkey; Type: CONSTRAINT; Schema: public; Owner: ads_user
--

ALTER TABLE ONLY public.offers
    ADD CONSTRAINT offers_pkey PRIMARY KEY (id);


--
-- Name: review_queue review_queue_pkey; Type: CONSTRAINT; Schema: public; Owner: ads_user
--

ALTER TABLE ONLY public.review_queue
    ADD CONSTRAINT review_queue_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: ads_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: workspace_settings workspace_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: ads_user
--

ALTER TABLE ONLY public.workspace_settings
    ADD CONSTRAINT workspace_settings_pkey PRIMARY KEY (id);


--
-- Name: ix_ad_analyses_ad_id; Type: INDEX; Schema: public; Owner: ads_user
--

CREATE UNIQUE INDEX ix_ad_analyses_ad_id ON public.ad_analyses USING btree (ad_id);


--
-- Name: ix_ad_analyses_confidence_score; Type: INDEX; Schema: public; Owner: ads_user
--

CREATE INDEX ix_ad_analyses_confidence_score ON public.ad_analyses USING btree (confidence_score);


--
-- Name: ix_ads_competitor_id; Type: INDEX; Schema: public; Owner: ads_user
--

CREATE INDEX ix_ads_competitor_id ON public.ads USING btree (competitor_id);


--
-- Name: ix_ads_first_seen; Type: INDEX; Schema: public; Owner: ads_user
--

CREATE INDEX ix_ads_first_seen ON public.ads USING btree (first_seen);


--
-- Name: ix_ads_platform; Type: INDEX; Schema: public; Owner: ads_user
--

CREATE INDEX ix_ads_platform ON public.ads USING btree (platform);


--
-- Name: ix_ads_status; Type: INDEX; Schema: public; Owner: ads_user
--

CREATE INDEX ix_ads_status ON public.ads USING btree (status);


--
-- Name: ix_angles_type; Type: INDEX; Schema: public; Owner: ads_user
--

CREATE INDEX ix_angles_type ON public.angles USING btree (type);


--
-- Name: ix_campaigns_status; Type: INDEX; Schema: public; Owner: ads_user
--

CREATE INDEX ix_campaigns_status ON public.campaigns USING btree (status);


--
-- Name: ix_competitors_status; Type: INDEX; Schema: public; Owner: ads_user
--

CREATE INDEX ix_competitors_status ON public.competitors USING btree (status);


--
-- Name: ix_hooks_type; Type: INDEX; Schema: public; Owner: ads_user
--

CREATE INDEX ix_hooks_type ON public.hooks USING btree (type);


--
-- Name: ix_offers_type; Type: INDEX; Schema: public; Owner: ads_user
--

CREATE INDEX ix_offers_type ON public.offers USING btree (type);


--
-- Name: ix_review_queue_ad_id; Type: INDEX; Schema: public; Owner: ads_user
--

CREATE INDEX ix_review_queue_ad_id ON public.review_queue USING btree (ad_id);


--
-- Name: ix_review_queue_assigned_to; Type: INDEX; Schema: public; Owner: ads_user
--

CREATE INDEX ix_review_queue_assigned_to ON public.review_queue USING btree (assigned_to);


--
-- Name: ix_review_queue_priority; Type: INDEX; Schema: public; Owner: ads_user
--

CREATE INDEX ix_review_queue_priority ON public.review_queue USING btree (priority);


--
-- Name: ix_review_queue_status; Type: INDEX; Schema: public; Owner: ads_user
--

CREATE INDEX ix_review_queue_status ON public.review_queue USING btree (status);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: ads_user
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ad_analyses ad_analyses_ad_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ads_user
--

ALTER TABLE ONLY public.ad_analyses
    ADD CONSTRAINT ad_analyses_ad_id_fkey FOREIGN KEY (ad_id) REFERENCES public.ads(id) ON DELETE CASCADE;


--
-- Name: ads ads_competitor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ads_user
--

ALTER TABLE ONLY public.ads
    ADD CONSTRAINT ads_competitor_id_fkey FOREIGN KEY (competitor_id) REFERENCES public.competitors(id) ON DELETE CASCADE;


--
-- Name: briefs briefs_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ads_user
--

ALTER TABLE ONLY public.briefs
    ADD CONSTRAINT briefs_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: campaigns campaigns_brief_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ads_user
--

ALTER TABLE ONLY public.campaigns
    ADD CONSTRAINT campaigns_brief_id_fkey FOREIGN KEY (brief_id) REFERENCES public.briefs(id) ON DELETE SET NULL;


--
-- Name: campaigns campaigns_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ads_user
--

ALTER TABLE ONLY public.campaigns
    ADD CONSTRAINT campaigns_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: competitors competitors_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ads_user
--

ALTER TABLE ONLY public.competitors
    ADD CONSTRAINT competitors_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: review_queue review_queue_ad_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ads_user
--

ALTER TABLE ONLY public.review_queue
    ADD CONSTRAINT review_queue_ad_id_fkey FOREIGN KEY (ad_id) REFERENCES public.ads(id) ON DELETE CASCADE;


--
-- Name: review_queue review_queue_assigned_to_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ads_user
--

ALTER TABLE ONLY public.review_queue
    ADD CONSTRAINT review_queue_assigned_to_fkey FOREIGN KEY (assigned_to) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: review_queue review_queue_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ads_user
--

ALTER TABLE ONLY public.review_queue
    ADD CONSTRAINT review_queue_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict DIOJ4KXdKanZGySVEPdKYKLEpFyEKXjDJClTeGrnng9WV8IXKazk5siqprugda7

